<div class="col-lg-4 col-md-6 col-12">
  <div class="card m-2">
    <div class="card-body">
      <h5 class="card-title">{{user.username}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Session Time:
        {{format_date session_time}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Platform:
        {{platform.platform_name}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Gamer Level:
        {{gamer_level}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Intensity:
        {{intensity}}</h6>
      <p class="card-text">{{post_text}}</p>
      <a
        href="/posts/{{id}}"
        class="btn btn-primary"
      >Add Comment</a>
    </div>
  </div>
</div>