<div class="container">
  <h2 class="text-center m-2">New Post</h2>
  <h4 class="text-center m-2">{{game.game_name}}</h4>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-12">
      <div class="card text-center m-2">
        <img
          src="/images/{{game.filename}}"
          class="card-img-top"
          alt="..."
        />
        <div
          class="card-body d-flex flex-column align-content-center justify-content-center bg-secondary"
        >
          <h5 class="card-title">{{game.game_name}}</h5>
          <p class="card-text">{{game.genre.genre_name}}</p>

          <a href="/games/{{game.id}}" class="btn btn-primary">Show Posts</a>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-12">
      <form class="w-75 mx-auto my-3" id="create-post-form">
        <div class="form-floating my-1">
          <input
            type="text"
            class="form-control"
            id="post-text"
            placeholder="Post Content"
            required
          />
          <label for="post-text">Post Content*</label>
        </div>
        <div class="form-group my-1">
          <label for="platform-id">Select Platform:</label>
          <select class="form-control" id="platform-id">
            <option>PC</option>
            <option>Playstation</option>
            <option>Xbox</option>
            <option>Nintendo</option>
            <option>Other</option>
          </select>
        </div>

        <label for="session-time">Date and Time</label>

        <div class="form-floating my-1">
          <input
            type="datetime-local"
            class="form-control"
            id="session-time"
            name="session-time"
            value=""
          />
        </div>

        <div class="form-group my-1">
          <label for="gamer-level">Gamer Level:</label>
          <select class="form-control" id="gamer-level">
            <option>Casual</option>
            <option>Intermediate</option>
            <option>Semi-pro</option>
            <option>Pro</option>
          </select>
        </div>
        <div class="form-group my-1">
          <label for="intensity">Intensity:</label>
          <select class="form-control" id="intensity">
            <option>Chill</option>
            <option>Moderate</option>
            <option>Sweaty</option>
            <option>E-Sports</option>
          </select>
        </div>

        <button
          class="w-100 btn btn-lg btn-primary my-3 btn-success"
          type="submit"
        >
          Post
        </button>
      </form>
    </div>
  </div>
</div>

<script src="/js/createPost.js"></script>